/*rest*/
*{
  box-sizing: border-box;
}
h1{
  margin: 0;
  margin-bottom: 10px;
}
input{
  border: 1px solid #aaa;
  padding:10px 15px;
  border-radius: 10px;
  font-size: 1rem;
}
label{
  font-size: 1rem;
  line-height: 1.2rem;
}

#root {
  width: 100%;
  background-color: rgb(220, 242, 245);
  margin: 0 auto;
  padding:20px 0;
  height: 100vh;
}
.App{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}
.app_warpper{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border:1px solid #aaa;
  border-radius: 20px;
}
.App>.app_warpper>*:not(.header,.navbar,.login){
  height: 100%;
  padding:30px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(176, 200, 255);
}
.login{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}




/**/
.loginContents{
  background-color: #ffe5aeaa;
  padding: 50px;
  border-radius: 50px;
}
.form_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.validation_text{
  font-size: .9rem;
  color:red;
  margin-bottom: 20px;
}
.invalid_input{
  border-color: red;
}

/*하단 네비*/
.navbar{
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0  ; */
  display: flex;
  
}
.navbar .nav_item{
  /* background-color: rgb(33, 122, 77); */
  background-color:   blue;
  color: #fff;
  width: calc(100% / 3);
  padding:30px;
  transition: background-color .8s ease;
  text-align: center;
}
.navbar .nav_item:nth-child(2){
  /* background-color: rgb(50, 182, 116); */
  background-color: green;
}
.navbar .nav_item:nth-child(3){
  /* background-color: rgb(51, 57, 174); */
  background-color: brown;
} 
.navbar .nav_item:hover{
  background-color: black;
}

/*헤더*/
.header{
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.header >div{
  padding:10px;
}

.page_title{
  /* height: calc(100% - 508px); */
  display: flex;
  gap: 20px;
}
.page_title h1{
  font-size: 2rem;
}

/*chat*/
.App>.app_warpper .chat{
  height: calc(100% - 150px);
}
.chat_area{
  border: 1px solid #6e7fff;
  height: calc(100% - 56px);
  border-radius: 10px 10px 0 0;
  background-color: #e0e9fd;
  display: flex;
  flex-direction: column;
}
.chat_content{
  height: 100%;
  padding:20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.chat_content:-webkit-scrollbar {
  display: none;
}
.chat_inputBox{
  width: 100%;
  padding:10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(127, 148, 255);
}
.chat_input{
  width: 100%;
}
.chat_submit{
  white-space: nowrap;
}
.chat_item{
  width: fit-content;
  max-width: 50%;
  
  margin: 10px;
}
.question_chat{
  margin-left: auto;
}

.profile_info{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.question_chat .profile_info{
  flex-direction: row-reverse;
}
.profile_name{
  
}

.profile_img{
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.chat_message{
  padding:10px;
  border: 1px solid #ffff;
  background-color: #fff;
  border-radius: 10px;
}
.chat_message span{
  word-wrap: break-word;
}
